#contact-background {
	background-image: url("../img/greyback.png");
	width: 100%;
	height: 1300px;
	background-size: cover;

	#wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 700px;
		height: 700px;
		margin-left: 700px;
		
		form {
			margin-top: 200px;
			
			input {
				background-color: black;
				color: white;
				height: 50px;
				text-align: center;
			}

			input:nth-child(1) {
				margin-bottom: 50px;
			}

			input:nth-child(2) {
				display: block;
				margin-bottom: 50px;
			}

			input:nth-child(3) {
				margin-right: 100px;
			}

			input:nth-child(5) {
				width: 500px;
				height: 400px;
				margin-top: 50px;
			}

			button {
				display: block;
				border: 1px solid white;
				width: 350px;
				height: 80px;
				margin-left: 75px;
				margin-top: 30px;
				font-family: 'Lilita One', cursive;
				background-color: black;
				color: white;
				font-size: 40px;
			}
		}
	}
}

